.container2
{
    border:1px solid red;
    width:75%;
    margin:0 auto;
    text-align:center;
}

.flex-box-container2
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:20px;

}